<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:security="http://www.springframework.org/schema/security"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
       http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-2.0.4.xsd">
	<!-- 用户 -->
	<bean id="userPersistence" class="com.mh.sys.user.persistence.UserPersistence"></bean>
	
	<bean id="userBusiness" class="com.mh.sys.user.business.UserBusiness">
		<property name="userPersistence" ref="userPersistence" />
	</bean>
	
	<!-- 此处service的 ID 值必须为  userSysService -->
	<bean id="userSysService" class="com.mh.sys.user.service.UserService">
		<property name="userBusiness" ref="userBusiness" />
	</bean>
	
	<bean id="userFacade" class="com.mh.sys.user.facade.UserFacade">
		<property name="userService" ref="userSysService"/>
	</bean>
	
	<bean id="userAction" class="com.mh.sys.user.action.UserAction">
		<property name="userFacade" ref="userFacade"/>
		<property name="roleFacade" ref="roleFacade"/>
		<property name="orgFacade" ref="orgFacade"/>
	</bean>
</beans>