<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd">

	<!-- 用户权限关联 -->
	<bean id="userRolePersistence" class="com.mh.sys.userrole.persistence.UserRolePersistence"></bean>
	
	<bean id="userRoleBusiness" class="com.mh.sys.userrole.business.UserRoleBusiness">
		<property name="userRolePersistence" ref="userRolePersistence"></property>
	</bean>
	
	<bean id="userRoleService" class="com.mh.sys.userrole.service.UserRoleService">
		<property name="userRoleBusiness" ref="userRoleBusiness"></property>
	</bean>
	<bean id="userRoleFacade" class="com.mh.sys.userrole.facade.UserRoleFacade">
		<property name="userRoleService" ref="userRoleService"></property>
	</bean>
	
	<bean id="userRoleAction" class="com.mh.sys.userrole.action.UserRoleAction">
		<property name="userRoleFacade" ref="userRoleFacade"></property>
	</bean>
</beans>