<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd">
	<!-- 系统机构 -->
	<bean id="orgPersistence" class="com.mh.sys.org.persistence.OrgPersistence"></bean>
	
	<bean id="orgBusiness" class="com.mh.sys.org.business.OrgBusiness">
		<property name="orgPersistence" ref="orgPersistence" />
	</bean>
	
	<bean id="orgService" class="com.mh.sys.org.service.OrgService">
		<property name="orgBusiness" ref="orgBusiness" />
	</bean>
	
	<bean id="orgFacade" class="com.mh.sys.org.facade.OrgFacade">
		<property name="orgService" ref="orgService" />
	</bean>
	
	<bean id="orgAction" class="com.mh.sys.org.action.OrgAction">
		<property name="orgFacade" ref="orgFacade" />
	</bean>
</beans>
