<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd">

	<!-- 权限(角色) -->
	<bean id="rolePersistence" class="com.mh.sys.role.persistence.RolePersistence"></bean>

	<bean id="roleBusiness" class="com.mh.sys.role.business.RoleBusiness">
		<property name="rolePersistence" ref="rolePersistence" />
	</bean>

	<bean id="roleService" class="com.mh.sys.role.service.RoleService">
		<property name="roleBusiness" ref="roleBusiness" />
	</bean>
	
	<bean id = "roleFacade" class="com.mh.sys.role.facade.RoleFacade">
		<property name="roleService" ref="roleService"/>
	</bean>
</beans>
