<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd">

	<bean id="processRegistryFacade"
		class="com.itour.etip.support.jbpm.facade.ProcessRegistryFacade">
		<property name="processRegistryService" ref="processRegistryService" />
	</bean>

	<bean id="processRegsitryAdminAction"
		class="com.itour.etip.support.jbpm.action.ProcessRegistryAdminAction">
		<property name="processRegistryFacade" ref="processRegistryFacade" />
	</bean>
</beans>
