#uploadDivBox {
	width: 550px;
	height: 445px;
	margin: 25px auto 0;
	background: white;
}

.uploadImg {
	width: 500px;
	height: auto;
	margin: 0 auto;
	padding-top: 10px;
}
#imageDiv {
	width: 500px;
	height: 400px; 
	margin-top:10px;
	border: 1px solid #E9E9E9; 
	overflow:hidden;
	position:relative;
	display:table-cell;
	text-align:center;
	vertical-align:middle
}
#imageDiv p { 
	position:static; 
	+position:absolute; 
	display: inline-block;
	margin: 0;
	padding: 0;
	top:50% 
} 
#target{
	position:static; 
	+position:relative; 
	top:-50%;
	left:-50%;
}
.btn_div {
	text-align: center;
	margin-top: 10px;
}
.upload_btn_ok {
	border: none;
	cursor: pointer;
	background: #F45949;
	font-weight: 200;
	font-size: 14px;
	color: #FFFFFF;
	width: 70px;
	height: 29px;
	margin-left: 15px;
}
.upload_btn_cancel {
	border: none;
	cursor: pointer;
	background: #a5a5a5;
	font-weight: 200;
	font-size: 14px;
	color: #FFFFFF;
	width: 70px;
	height: 29px;
	margin-left: 15px;
}
.upload_btn_nocut{
	border: none;
	cursor: pointer;
	background: #1AB1AA;
	font-weight: 200;
	font-size: 14px;
	color: #FFFFFF;
	width: 70px;
	height: 29px;
}