<!DOCTYPE html>
<html>
  <head>
    <title>模板库</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <link href="axure_rp_page.css" type="text/css" rel="stylesheet"/>
    <link href="styles.css" type="text/css" rel="stylesheet"/>
   
  </head>
  <body>
    <div id="base" class="">
      <!-- Rectangle (形状) -->
      <div id="u50" class="ax_xingzhuang" data-label="Rectangle">
        <img id="u50_img" class="img " src="images/temp/rectangle_u50.png"/>
        <!-- Unnamed () -->
        <div id="u51" class="text">
          <p><span style="font-family:'Heiti SC Light', 'Heiti SC';">全部</span></p>
        </div>
      </div>

      <!-- Rectangle (形状) -->
      <div id="u52" class="ax_xingzhuang" data-label="Rectangle">
        <img id="u52_img" class="img " src="images/temp/rectangle_u52.png"/>
        <!-- Unnamed () -->
        <div id="u53" class="text">
          <p><span style="font-family:'Heiti SC Light', 'Heiti SC';">最多喜欢</span></p>
        </div>
      </div>

      <!-- Rectangle (形状) -->
      <div id="u54" class="ax_xingzhuang" data-label="Rectangle">
        <img id="u54_img" class="img " src="images/temp/rectangle_u52.png"/>
        <!-- Unnamed () -->
        <div id="u55" class="text">
          <p><span style="font-family:'Heiti SC Light', 'Heiti SC';">最新发布</span></p>
        </div>
      </div>
<div class="SelectTemplate_right">
	 <div class="pic">
  		<div class="pic1">
  			<a href="${root }/temp_manage/key/ajaxSearchTempById?id=${templateData.id }" target="_blank" data="${templateData.id }">
  				<img class="temp" src="${root }${templateData.imgpath}">
  			</a>
  		</div>
		<div style="height: 30px;width: 360px;float: left;margin-top: 8px">
			
			<div style="float: right;">
				<span class="btn_graytmp"><a href="${root }/temp_manage/key/ajaxSearchTempById?id=${templateData.id }" target="_blank" data="${templateData.id }">查看详情</a></span>
				<span class="btn_orange"><a href="${root }/page_manage/key/toCreatePage?id=${templateData.id }" target="_parent">使用</a></span>
			</div>
		</div>
  	 </div>
		<div class="pic">
  		<div class="pic1">
  			<a href="${root }/temp_manage/key/ajaxSearchTempById?id=${templateData.id }" target="_blank" data="${templateData.id }">
  				<img class="temp" src="${root }${templateData.imgpath}">
  			</a>
  		</div>
		<div style="height: 30px;width: 360px;float: left;margin-top: 8px">
			
			<div style="float: right;">
				<span class="btn_graytmp"><a href="${root }/temp_manage/key/ajaxSearchTempById?id=${templateData.id }" target="_blank" data="${templateData.id }">查看详情</a></span>
				<span class="btn_orange"><a href="${root }/page_manage/key/toCreatePage?id=${templateData.id }" target="_parent">使用</a></span>
			</div>
		</div>
  	 </div>
  	 <div class="pic">
  		<div class="pic1">
  			<a href="${root }/temp_manage/key/ajaxSearchTempById?id=${templateData.id }" target="_blank" data="${templateData.id }">
  				<img class="temp" src="${root }${templateData.imgpath}">
  			</a>
  		</div>
		<div style="height: 30px;width: 360px;float: left;margin-top: 8px">
			
			<div style="float: right;">
				<span class="btn_graytmp"><a href="${root }/temp_manage/key/ajaxSearchTempById?id=${templateData.id }" target="_blank" data="${templateData.id }">查看详情</a></span>
				<span class="btn_orange"><a href="${root }/page_manage/key/toCreatePage?id=${templateData.id }" target="_parent">使用</a></span>
			</div>
		</div>
  	 </div>
  	 <div class="pic">
  		<div class="pic1">
  			<a href="${root }/temp_manage/key/ajaxSearchTempById?id=${templateData.id }" target="_blank" data="${templateData.id }">
  				<img class="temp" src="${root }${templateData.imgpath}">
  			</a>
  		</div>
		<div style="height: 30px;width: 360px;float: left;margin-top: 8px">
			
			<div style="float: right;">
				<span class="btn_graytmp"><a href="${root }/temp_manage/key/ajaxSearchTempById?id=${templateData.id }" target="_blank" data="${templateData.id }">查看详情</a></span>
				<span class="btn_orange"><a href="${root }/page_manage/key/toCreatePage?id=${templateData.id }" target="_parent">使用</a></span>
			</div>
		</div>
  	 </div>
</div>
      <!-- Header 1 (形状) -->
      <div id="u64" class="ax_text" data-label="Header 1">
        <img id="u64_img" class="img " src="resources/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u65" class="text">
          <p><span style="font-family:'Heiti SC Light', 'Heiti SC';font-weight:200;">请选择一个你喜欢的模板</span></p>
        </div>
      </div>

      <!-- Unnamed (水平线) -->
      <div id="u84" class="ax_shuipx">
        <img id="u84_start" class="img " src="resources/images/transparent.gif" alt="u84_start"/>
        <img id="u84_end" class="img " src="resources/images/transparent.gif" alt="u84_end"/>
        <img id="u84_line" class="img " src="images/temp/u84_line.png" alt="u84_line"/>
      </div>

		<!-- Text (形状) -->
      
      <!-- button (形状) -->
      <div id="u85" class="ax_xingzhuang" data-label="button">
        <img id="u85_img" class="img " src="images/temp/button_u85.png"/>
        <!-- Unnamed () -->
        <div id="u86" class="text">
          <p><span style="font-family:'Heiti SC Light', 'Heiti SC';font-weight:200;">1</span></p>
        </div>
      </div>

      <!-- button (形状) -->
      <div id="u87" class="ax_xingzhuang" data-label="button">
        <img id="u87_img" class="img " src="images/temp/button_u87.png"/>
        <!-- Unnamed () -->
        <div id="u88" class="text">
          <p><span style="font-family:'Heiti SC Light', 'Heiti SC';font-weight:200;">2</span></p>
        </div>
      </div>

      <!-- button (形状) -->
      <div id="u89" class="ax_xingzhuang" data-label="button">
        <img id="u89_img" class="img " src="images/temp/button_u87.png"/>
        <!-- Unnamed () -->
        <div id="u90" class="text">
          <p><span style="font-family:'Heiti SC Light', 'Heiti SC';font-weight:200;">3</span></p>
        </div>
      </div>

      <!-- button (形状) -->
      <div id="u91" class="ax_xingzhuang" data-label="button">
        <img id="u91_img" class="img " src="images/temp/button_u87.png"/>
        <!-- Unnamed () -->
        <div id="u92" class="text">
          <p><span style="font-family:'Heiti SC Light', 'Heiti SC';font-weight:200;">4</span></p>
        </div>
      </div>

      <!-- button (形状) -->
      <div id="u93" class="ax_xingzhuang" data-label="button">
        <img id="u93_img" class="img " src="images/temp/button_u93.png"/>
        <!-- Unnamed () -->
        <div id="u94" class="text">
          <p><span>上一页</span></p>
        </div>
      </div>

      <!-- button (形状) -->
      <div id="u95" class="ax_xingzhuang" data-label="button">
        <img id="u95_img" class="img " src="images/temp/button_u95.png"/>
        <!-- Unnamed () -->
        <div id="u96" class="text">
          <p><span style="font-family:'Heiti SC Light', 'Heiti SC';font-weight:200;">next</span></p>
        </div>
      </div>

      <!-- Rectangle (形状) -->
      <div id="u97" class="ax_xingzhuang" data-label="Rectangle">
        <img id="u97_img" class="img " src="images/temp/rectangle_u97.png"/>
        <!-- Unnamed () -->
        <div id="u98" class="text"></div>
      </div>

      <!-- Unnamed (图片) -->
      <div id="u99" class="ax_pic">
        <img id="u99_img" class="img " src="images/temp/u99.png"/>
        <!-- Unnamed () -->
        <div id="u100" class="text"></div>
      </div>

      <!-- Text (形状) -->
      <div id="u101" class="ax_text" data-label="Text">
        <img id="u101_img" class="img " src="resources/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u102" class="text">
          <p><span>没有找到合适的模板？</span></p>
        </div>
      </div>

      <!-- Unnamed (图片) -->
      <div id="u103" class="ax_pic">
        <img id="u103_img" class="img " src="images/temp/u103.png"/>
        <!-- Unnamed () -->
        <div id="u104" class="text"></div>
      </div>

      <!-- Unnamed (图片) -->
      <div id="u105" class="ax_pic">
        <img id="u105_img" class="img " src="images/temp/u103.png"/>
        <!-- Unnamed () -->
        <div id="u106" class="text"></div>
      </div>

      <!-- Unnamed (图片) -->
      <div id="u107" class="ax_pic">
        <img id="u107_img" class="img " src="images/temp/u103.png"/>
        <!-- Unnamed () -->
        <div id="u108" class="text"></div>
      </div>

      <!-- Unnamed (图片) -->
      <div id="u109" class="ax_pic">
        <img id="u109_img" class="img " src="images/temp/u103.png"/>
        <!-- Unnamed () -->
        <div id="u110" class="text"></div>
      </div>

      <!-- Unnamed (图片) -->
      <div id="u111" class="ax_pic">
        <img id="u111_img" class="img " src="images/temp/u103.png"/>
        <!-- Unnamed () -->
        <div id="u112" class="text"></div>
      </div>

      <!-- Header 1 (形状) -->
      <div id="u113" class="ax_text" data-label="Header 1">
        <img id="u113_img" class="img " src="resources/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u114" class="text">
          <p><span>&#149; 创建网页快！</span></p>
        </div>
      </div>

      <!-- Header 1 (形状) -->
      <div id="u115" class="ax_text" data-label="Header 1">
        <img id="u115_img" class="img " src="resources/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u116" class="text">
          <p><span>&#149; 传播展示快！</span></p>
        </div>
      </div>

      <!-- Header 1 (形状) -->
      <div id="u117" class="ax_text" data-label="Header 1">
        <img id="u117_img" class="img " src="resources/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u118" class="text">
          <p><span>&#149; 生成</span><span>订单快！</span></p>
        </div>
      </div>
      <!-- Unnamed (形状) -->
      <div id="u155" class="ax_text">
        <img id="u155_img" class="img " src="resources/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u156" class="text">
          <p><span>请点这里—&gt;</span></p>
        </div>
      </div>
    </div>
  </body>
</html>
