
/*¹ºÂò*/
.slide2_Sn1254 {
	padding: 0 0 0 0;
	margin-bottom: 40px;
	max-width: 1079px;
	margin: 0 auto;
	width: 80%;
}
.container_Sn1254 {
width: 98%;
margin: 0 auto;
clear: both;
}
.clearfix_Sn1254:after {
clear: both;
content: ' ';
display: block;
font-size: 0;
line-height: 0;
visibility: hidden;
width: 0;
height: 0;
}
.leftImg_Sn1254{
height: 460px;
margin: 2%;
float: left;
width:45%;
}
.leftImg_Sn1254 img{
max-width: 95%;
max-height: 430px;
text-align: center;
}
.right_Sn1254{
width:45%;
float:left;
margin:2%;
}
.right_Sn1254 .rightDiv1_Sn1254{
font-weight: 700;
font-size: 28px;
color: #333333;
text-align: left;
}
.right_Sn1254 .rightDiv2_Sn1254{
margin-top: 10px;
text-decoration: line-through;

font-weight: 200;
font-size: 16px;
color: #999999;
text-align: left;
}
.right_Sn1254 .rightDiv3_Sn1254{
margin-top: 20px;

font-weight: 200;
font-size: 13px;
color: #333333;
width: 100%;
height: 100px;
}
.span1_Sn1254{
display: inline-block;
border: #FF0000 solid 1px;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
background: #FCDADB;
width: 54px;
height: 28px;
line-height: 28px;
text-align: center;
margin-left: 4%;
display: block;
float: left;
margin-top: 10px;
}
.spantype_Sn1254{
display: inline-block;
margin-left: 10px;
border: #949494 solid 1px;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
background: #FFFFFF;
width: 54px;
height: 28px;
line-height: 28px;
text-align: center;
margin-left: 4%;
display: block;
float: left;
margin-top: 10px;
}
.inputTab_Sn1254{
	margin:0 auto;
	width: 100%;
	height: 35px;
	clear:left;
}
	
.rightbut_Sn1254 input{
width: 200px;
height: 35px;
font-weight: 200;
color: #FFFFFF;
font-size: 13px;
border: none;
background:url(../../../../images/mini/purchase/goumai/button_u68.png);
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
margin-top:20px;
}
.rightbut_Sn1254 input:hover{
background:url(../../../../images/mini/purchase/goumai/button_u68_mouseOver.png);
}
.rightCon_Sn1254 {
font-size: 13px;
font-weight: 200;
color: #999999;
line-height: 18px;
text-align:left;
word-wrap:break-word;
}
.rightCon_Sn1254 p{

font-weight: 700;
font-size: 16px;
color: rgb(102, 102, 102);
line-height: 18px;
}
.inputTab_input_Sn1254{
	width: 50px;
	height: 30px;
	text-align: center;
	float: left;
}
.inputTab_right_Sn1254{
	background-color: #efefef;
	display: block;
	width: 8%;
	height: 30px;
	float: left;
	text-align: center;
	line-height: 30px;
	font-size: 20px;
	text-decoration: none;
	color: black;
}
.inputTab_left_Sn1254{
	background-color: #efefef;
	display: block;
	width: 8%;
	height: 30px;
	float: left;
	text-align: center;
	line-height: 30px;
	font-size: 20px;
	text-decoration: none;
	color: black;
}
.rightbut_Sn1254{
width: 45%;
height: 50px;
}
/**/

@media ( max-width : 480px) {
		/***********¹ºÂò*********************/
.leftImg_Sn1254 {
	width: 95%;
	height:auto;
	}
	.right_Sn1254 {
	width:100%;
	height:auto;
	clear:left;
	margin:0;}
	.rightDiv3_Sn1254{
	background:url(../../../../images/mini/purchase/goumai/rectangle_u45.png);
	height:71px;
	line-height:71px;
	}
	.rightbut_Sn1254 input{
	background: red;
	background-image:none;
	width: 100%;
	margin-top:10px;
	}
	.rightbut_Sn1254 input:hover{
	background:#FF8C00;	
	}
	.rightbut_Sn1254{
	text-align:center;
	margin:0 auto;
	}
	.inputTab_Sn1254{
	margin-top: 20px;
	}
	.rightbut_Sn1254{
	margin-top: 20px;
	width: 100%;
	}
	.slide2_Sn1254{
	width: 95%;
	}
}